# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Expo
.expo/
dist/
web-build/

# Native build cache
android/app/build/
android/.gradle/
android/build/
ios/build/
*.orig.*

# Environment / Secrets
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
Thumbs.db
*.pem

# Types
expo-env.d.ts